*.pyc
*.pyo
app.db
.env
/staticfiles
frontend/node_modules/
frontend/public/
frontend/src/
package-lock.json
package.json
nutfaenv/
myenv/
db.sqlite3
.vercel
newenv\
newenv
testenv\
testenv
.vscode\
.vscode
**/*.db
spinup.py
.coverage
__pycache__/