{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..."/>

    
    <!-- Add Bootstrap CDN link for CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href = "{% static '../static/styles/base.css' %}">
    <!--  Load CSS in Flask with html-->

    {% block otherstyle %}
    <link rel="stylesheet" href = "{% static '../static/styles/base.css' %}">
    {% endblock %}

    <title>{% block title %}{% endblock %} - Chat App</title>

</head>
<body>


    {% include 'chat/navbar.html' %}

    {% block landing %}{% endblock %}

    
    <div class="container-fluid px-4"
        style="background: linear-gradient(rgba(169, 169, 169, 0.5), rgba(69, 19, 169, 0.8))">
    {% block content %}
    {% endblock %}
    </div>

    

    <!-- Add Bootstrap CDN link for JS (if needed) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
